.App {
    display: grid;
    grid-template-areas: 'h h'
                         'n c';
    grid-template-rows: 80px 1fr;
    grid-template-columns: 150px 1fr;
    grid-gap: 3px;
    text-align: center;
    overflow-wrap: anywhere
}

.content {
    grid-area: c;
    transition: 0.5s
}